.button {
  color: var(--color-primary);
  font-family: var(--font-family);
  border: 2px solid var(--color-tertiary);
  background-color: var(--color-secondary);
}

.button:hover {
  background-color: var(--color-tertiary);
}

.button:disabled:hover {
  background-color: var(--color-secondary);
}