@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";
@import "components/show-all-button/show-all-button.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-color: rgb(56, 229, 77);
  --color-primary: rgb(33, 146, 255);
  --color-secondary: rgb(156, 255, 46);
  --color-tertiary: rgb(253, 255, 0);
  --font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-image: url(./assets/background-image.png);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.title {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 600px) {
  
main {
  flex-direction: column;
  align-items: center;
}

.title img {
  max-width: 100%;
}

body {
  font-size: 14px;
  background-size: contain;
  padding: 10px;
}
}
