.search-bar-container {
  width: 300px;
}

.search-bar {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 24px;
}

.search-bar__input {
  background-color: rgb(253, 255, 0);
  border: none;
  color: var(--color-primary);
}

::placeholder {
  color: var(--color-primary);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.search-bar__button {
  border: none;
  background-color: rgb(253, 255, 0);
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
