.search-bar-container {
  width: 300px;
}

.search-bar {
  border: 2px solid var(--color-tertiary);
  padding: 10px 20px;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 24px;
}

.search-bar__input {
  background-color: var(--color-tertiary);
  border: none;
  color: var(--color-primary);
}

::placeholder {
  color: var(--color-primary);
  font-family: var(--font-family);
}

.search-bar__input:not(:placeholder-shown) {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-family: var(--font-family);
}

.search-bar__button {
  border: none;
  background-color: var(--color-tertiary);
}

.search-bar__input:focus {
  outline: none;
}
/* tried to make background-color NOT turn grey after input, but it does not work
.search-bar__input:active {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
*/
.search-bar__icon {
  width: 20px;
  filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(75%) contrast(90%); 
}
